.card__data {
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
  margin: 0;
}

.card__title {
  margin: 0;
  font-family: 'Roboto Slab';
  padding-top: 12px;
  font-size: 26px;
  line-height: 30px;
}

.card__text {
  margin-top: 16px;
  font-size: 16px;
  line-height: 22px;
}

.card__source {
  margin-top: 18px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
}

.card__image {
  max-width: 100%;
  width: 100%;
  min-height: 273px;
  max-height: 273px;
  background-size: cover;
}

.card {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #FFF;
  object-fit: cover;
  margin: auto;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__button {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-repeat: no-repeat;
  padding: 0;
  border: 0;
  cursor: pointer;
  visibility: visible;
  outline: 0;
  position: absolute;
  right: 24px;
  top: 24px;
}

.card__button_type_not-added {
  background-image: url(../../images/bookmark-not-added.svg);
}

.card__button_type_added {
  background-image: url(../../images/bookmark-added.svg);
}

.card__button_type_delete {
  background-position: center;
  background-size: 24px;
  background-image: url(../../images/trash.svg);
}

.card__button__container {
  position: absolute;
  z-index: 2;
  top: 24px;
  margin: 0 24px;
}

.card__tag {
  background: #FFFFFF;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  padding: 8px 12px;
  position: absolute;
  left: 24px;
  top: 24px;
}

.card__description {
  padding: 20px 24px 24px 24px;
}

@media screen and (max-width: 960px) {

  .card__title {
    font-size: 22px;
    line-height: 24px;
  }

  .card__button {
    right: 8px;
    top: 8px;
  }

  .card__tag {
    left: 8px;
    top: 8px;
  }
}


